AscioService.xsd


<?xml version='1.0' encoding='UTF-8'?>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.ascio.com/2007/01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://www.ascio.com/2007/01"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
      <xsd:import schemaLocation="https://aws.ascio.com/2012/01/01/arrays.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:element name="LogIn">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="session" minOccurs="0" nillable="true" type="tns:Session"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Session">
        <xsd:sequence>
          <xsd:element name="Account" nillable="true" type="xsd:string"/>
          <xsd:element name="Password" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Session" nillable="true" type="tns:Session"/>
      <xsd:element name="LogInResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LogInResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Response">
        <xsd:sequence>
          <xsd:element name="Message" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="ResultCode" minOccurs="0" type="xsd:short"/>
          <xsd:element name="Values" maxOccurs="1" minOccurs="0" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Response" nillable="true" type="tns:Response"/>
      <xsd:element name="LogOut">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LogOutResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="LogOutResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="orderId" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetOrderResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="order" minOccurs="0" nillable="true" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Order">
        <xsd:sequence>
          <xsd:element name="OrderId" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Type" type="tns:OrderType"/>
          <xsd:element name="AccountReference" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Status" minOccurs="0" type="tns:OrderStatusType"/>
          <xsd:element name="TransactionComment" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Comments" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Options" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="LocalPresence" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Batch" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Documentation" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Domain" minOccurs="0" nillable="true" type="tns:Domain"/>
	       <xsd:element name="CreDate" minOccurs="0" nillable="true" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Order" nillable="true" type="tns:Order"/>
      <xsd:simpleType name="OrderType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NotSet"/>
          <xsd:enumeration value="Contact_Update"/>
          <xsd:enumeration value="Change_Locks"/>
          <xsd:enumeration value="Delete_Domain"/>
          <xsd:enumeration value="Registrant_Details_Update"/>
          <xsd:enumeration value="Expire_Domain"/>
          <xsd:enumeration value="Nameserver_Update"/>
          <xsd:enumeration value="Owner_Change"/>
          <xsd:enumeration value="Queue_Domain"/>
          <xsd:enumeration value="Register_Domain"/>
          <xsd:enumeration value="Renew_Domain"/>
          <xsd:enumeration value="Restore_Domain"/>
          <xsd:enumeration value="Transfer_Domain"/>
          <xsd:enumeration value="Unexpire_Domain"/>
          <xsd:enumeration value="Transfer_Away"/>
          <xsd:enumeration value="Autorenew_Domain"/>
          <xsd:enumeration value="Autodelete_Domain"/>
          <xsd:enumeration value="Defensive_Registration"/>
          <xsd:enumeration value="Name_Watch"/>
          <xsd:enumeration value="Domain_Details_Update"/>
          <xsd:enumeration value="Import_Domain"/>
          <xsd:enumeration value="Partner_Change"/>
          <xsd:enumeration value="Support" />
          <xsd:enumeration value="DeQueue" />
          <xsd:enumeration value="Update_AuthInfo" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="OrderType" nillable="true" type="tns:OrderType"/>
      <xsd:simpleType name="OrderStatusType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="NotSet"/>
          <xsd:enumeration value="Received"/>
          <xsd:enumeration value="Validated"/>
          <xsd:enumeration value="Invalid"/>
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Processing"/>
          <xsd:enumeration value="Pending_Documentation"/>
          <xsd:enumeration value="Pending_End_User_Action"/>
          <xsd:enumeration value="Documentation_Received"/>
          <xsd:enumeration value="Documentation_Approved"/>
          <xsd:enumeration value="Documentation_Not_Approved"/>
          <xsd:enumeration value="Pending_NIC_Processing"/>
          <xsd:enumeration value="Pending_NIC_Document_Approval"/>
          <xsd:enumeration value="Pending_Post_Processing"/>
          <xsd:enumeration value="Pending_Internal_Processing"/>
          <xsd:enumeration value="Completed"/>
          <xsd:enumeration value="Failed"/>
          <xsd:enumeration value="Authentication_Failed"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="OrderStatusType" nillable="true" type="tns:OrderStatusType"/>
      <xsd:complexType name="Domain">
        <xsd:sequence>
          <xsd:element name="DomainName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DomainHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="RegPeriod" minOccurs="0" nillable="true" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo>
                <DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/" EmitDefaultValue="false"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="RenewPeriod" minOccurs="0" nillable="true" type="xsd:int">
            <xsd:annotation>
              <xsd:appinfo>
                <DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/" EmitDefaultValue="false"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="AuthInfo" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="CreDate" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="ExpDate" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="EncodingType" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DomainPurpose" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Comment" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="TransferLock" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DeleteLock" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="UpdateLock" minOccurs="0" nillable="true" type="xsd:string"/>          
          <xsd:element name="QueueType" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Registrant" minOccurs="0" nillable="true" type="tns:Registrant"/>
          <xsd:element name="AdminContact" minOccurs="0" nillable="true" type="tns:Contact"/>
          <xsd:element name="TechContact" minOccurs="0" nillable="true" type="tns:Contact"/>
          <xsd:element name="BillingContact" minOccurs="0" nillable="true" type="tns:Contact"/>
          <xsd:element name="ResellerContact" minOccurs="0" nillable="true" type="tns:Contact">
            <xsd:annotation>
              <xsd:appinfo>
                <DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/" EmitDefaultValue="false"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NameServers" minOccurs="0" nillable="true" type="tns:NameServers"/>
          <xsd:element name="Trademark" minOccurs="0" nillable="true" type="tns:TradeMark"/>
          <xsd:element name="DnsSecKeys" minOccurs="0" nillable="true" type="tns:DnsSecKeys">
            <xsd:annotation>
              <xsd:appinfo>
                <DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/" EmitDefaultValue="false"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Domain" nillable="true" type="tns:Domain"/>
      <xsd:complexType name="Registrant">
        <xsd:sequence>
          <xsd:element name="CreDate" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Handle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Name" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="OrgName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Address1" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Address2" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="City" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="State" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="PostalCode" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="CountryCode" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Email" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Phone" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Fax" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="RegistrantType" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="VatNumber" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="RegistrantDate" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="NexusCategory" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="RegistrantNumber" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Details" minOccurs="0" nillable="true" type="xsd:string"/>	
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Registrant" nillable="true" type="tns:Registrant"/>
      <xsd:complexType name="Contact">
        <xsd:sequence>
          <xsd:element name="CreDate" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Handle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="FirstName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="LastName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="OrgName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Address1" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Address2" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="PostalCode" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="City" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="State" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="CountryCode" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Email" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Phone" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Fax" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Type" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Details" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="OrganisationNumber" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Contact" nillable="true" type="tns:Contact"/>
      <xsd:complexType name="NameServers">
        <xsd:sequence>
          <xsd:element name="NameServer1" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer2" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer3" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer4" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer5" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer6" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer7" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer8" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer9" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer10" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer11" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer12" minOccurs="0" nillable="true" type="tns:NameServer"/>
          <xsd:element name="NameServer13" minOccurs="0" nillable="true" type="tns:NameServer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NameServers" nillable="true" type="tns:NameServers"/>
      <xsd:complexType name="NameServer">
        <xsd:sequence>
          <xsd:element name="CreDate" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="Handle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="HostName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="IpAddress" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="IpV6Address" minOccurs="0" nillable="true" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo>
                <DefaultValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/" EmitDefaultValue="false"/>
              </xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Details" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="NameServer" nillable="true" type="tns:NameServer"/>
      <xsd:complexType name="TradeMark">
        <xsd:sequence>
          <xsd:element name="Name" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Country" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Date" minOccurs="0" type="xsd:dateTime"/>
          <xsd:element name="Number" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Type" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Contact" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="ContactLanguage" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DocumentationLanguage" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="SecondContact" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="ThirdContact" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="RegDate" minOccurs="0" type="xsd:dateTime"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="TradeMark" nillable="true" type="tns:TradeMark"/>
      <xsd:complexType name="DnsSecKeys">
        <xsd:sequence>
          <xsd:element name="DnsSecKey1" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          <xsd:element name="DnsSecKey2" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          <xsd:element name="DnsSecKey3" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          <xsd:element name="DnsSecKey4" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          <xsd:element name="DnsSecKey5" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DnsSecKeys" nillable="true" type="tns:DnsSecKeys"/>
      <xsd:complexType name="DnsSecKey">
        <xsd:sequence>
          <xsd:element name="Handle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DigestAlgorithm" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DigestType" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Digest" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Protocol" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="KeyType" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="KeyAlgorithm" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="KeyTag" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="PublicKey" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="CreDate" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="DnsSecKey" nillable="true" type="tns:DnsSecKey"/>
      <xsd:element name="CreateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="order" minOccurs="0" nillable="true" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>         
    <xsd:element name="CreateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateOrderResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="order" minOccurs="0" nillable="true" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>       
      <xsd:element name="SearchOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="orderRequest" nillable="true" type="tns:SearchOrderRequest"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:complexType name="SearchOrderRequest">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="OrderTypes" nillable="true" type="tns:ArrayOfOrderType"/>
			<xsd:element minOccurs="0" name="OrderStatusTypes" nillable="true" type="tns:ArrayOfOrderStatusType"/>
			<xsd:element minOccurs="0" name="FromDate" nillable="true" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="ToDate" nillable="true" type="xsd:dateTime"/>
			<xsd:element minOccurs="0" name="DomainName" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="TransactionComment" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
			<xsd:element minOccurs="0" name="IncludeDomainDetails" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="PageInfo" nillable="true" type="tns:PagingInfo"/>
			<xsd:element minOccurs="0" name="OrderSort" type="tns:SearchOrderSortType"/>
		</xsd:sequence>
      </xsd:complexType>

      <xsd:element name="SearchOrderRequest" nillable="true" type="tns:SearchOrderRequest"/>
      
      <xsd:complexType name="ArrayOfOrderType">
		<xsd:sequence>
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="OrderType" type="tns:OrderType"/>
		</xsd:sequence>
      </xsd:complexType>
      
	<xsd:element name="ArrayOfOrderType" nillable="true" type="tns:ArrayOfOrderType"/>
      
      <xsd:complexType name="ArrayOfOrderStatusType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrderStatusType" type="tns:OrderStatusType"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="ArrayOfOrderStatusType" nillable="true" type="tns:ArrayOfOrderStatusType"/>            
            
      <xsd:simpleType name="SearchOrderSortType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CreDateAsc"/>
          <xsd:enumeration value="CreDateDesc"/>
          <xsd:enumeration value="OrderIdAsc"/>
          <xsd:enumeration value="OrderIdDesc"/>
          <xsd:enumeration value="DomainNameAsc"/>
          <xsd:enumeration value="DomainNameDesc"/>
        </xsd:restriction>
      </xsd:simpleType>
      
      <xsd:element name="SearchOrderSortType" nillable="true" type="tns:SearchOrderSortType"/>

      <xsd:complexType name="PagingInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="PageIndex" type="xsd:int"/>
          <xsd:element minOccurs="0" name="PageSize" type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="PagingInfo" nillable="true" type="tns:PagingInfo"/>
      
      <xsd:element name="SearchOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="SearchOrderResult" nillable="true" type="tns:Response"/>
            <xsd:element minOccurs="0" name="totalOrders" type="xsd:int"/>
            <xsd:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOfOrder"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfOrder">
        <xsd:sequence>
          <xsd:element name="Order" minOccurs="0" nillable="true" type="tns:Order" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>      
      <xsd:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder"/>
      <xsd:element name="GetMessages">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="orderId" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>      
      <xsd:element name="GetMessagesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetMessagesResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="messages" minOccurs="0" nillable="true" type="tns:ArrayOfMessage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfMessage">
        <xsd:sequence>
          <xsd:element name="Message" minOccurs="0" nillable="true" type="tns:Message" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage"/>
      <xsd:complexType name="Message">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfAttachment"/>
          <xsd:element minOccurs="0" name="Body" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Created" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="FromAddress" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Subject" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="ToAddress" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Type" type="tns:MessageType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Message" nillable="true" type="tns:Message"/>
      <xsd:complexType name="ArrayOfAttachment">
        <xsd:sequence>
          <xsd:element name="Attachment" minOccurs="0" nillable="true" type="tns:Attachment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfAttachment" nillable="true" type="tns:ArrayOfAttachment"/>
      <xsd:complexType name="Attachment">
        <xsd:sequence>
          <xsd:element name="Data" minOccurs="0" nillable="true" type="xsd:base64Binary"/>
          <xsd:element name="FileName" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Attachment" nillable="true" type="tns:Attachment"/>
      <xsd:simpleType name="MessageType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Message_to_Partner" />
          <xsd:enumeration value="Documentation_Request" />
          <xsd:enumeration value="Order_mail" />
          <xsd:enumeration value="Partner_Response" />
          <xsd:enumeration value="Message_to_Registrant" />
          <xsd:enumeration value="Support" />
          <xsd:enumeration value="Document" />
	<xsd:enumeration value="ExpiryReminder1" />
	<xsd:enumeration value="ExpiryReminder2" />
	<xsd:enumeration value="ExpiryReminder3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="MessageType" nillable="true" type="tns:MessageType"/>
      <xsd:element name="ValidateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="order" minOccurs="0" nillable="true" type="tns:Order"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ValidateOrderResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadDocumentation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="orderId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="fileName" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="content" minOccurs="0" nillable="true" type="xsd:base64Binary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadDocumentationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UploadDocumentationResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateSupportOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="subject" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="body" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="attachments" minOccurs="0" nillable="true" type="tns:ArrayOfAttachment"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateSupportOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateSupportOrderResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="orderId" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="orderId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="message" nillable="true" type="tns:Message"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="UploadMessageResult" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDomain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="domainHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDomainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetDomainResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="domain" minOccurs="0" nillable="true" type="tns:Domain"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchDomain">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="criteria" minOccurs="0" nillable="true" type="tns:SearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="SearchCriteria">
        <xsd:sequence>
          <xsd:element name="Clauses" minOccurs="0" nillable="true" type="tns:ArrayOfClause"/>
          <xsd:element name="Mode" minOccurs="0" type="tns:SearchModeType"/>
          <xsd:element name="Withoutstates" minOccurs="0" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
          <xsd:element name="Withstates" minOccurs="0" nillable="true" type="q1:ArrayOfstring" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="SearchCriteria" nillable="true" type="tns:SearchCriteria"/>
      <xsd:complexType name="ArrayOfClause">
        <xsd:sequence>
          <xsd:element name="Clause" minOccurs="0" nillable="true" type="tns:Clause" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfClause" nillable="true" type="tns:ArrayOfClause"/>
      <xsd:complexType name="Clause">
        <xsd:sequence>
          <xsd:element name="Attribute" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Operator" minOccurs="0" type="tns:SearchOperatorType"/>
          <xsd:element name="Value" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Clause" nillable="true" type="tns:Clause"/>
      <xsd:simpleType name="SearchOperatorType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Is"/>
          <xsd:enumeration value="IsNot"/>
          <xsd:enumeration value="Like"/>
          <xsd:enumeration value="NotLike"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SearchOperatorType" nillable="true" type="tns:SearchOperatorType"/>
      <xsd:simpleType name="SearchModeType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Strict"/>
          <xsd:enumeration value="Filter"/>
          <xsd:enumeration value="Any"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="SearchModeType" nillable="true" type="tns:SearchModeType"/>
      <xsd:element name="SearchDomainResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchDomainResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="domains" minOccurs="0" nillable="true" type="tns:ArrayOfDomain"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfDomain">
        <xsd:sequence>
          <xsd:element name="Domain" minOccurs="0" nillable="true" type="tns:Domain" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain"/>
      <xsd:element name="Whois">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="domainName" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="WhoisResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WhoisResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="whoisData" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
      <xsd:element name="AvailabilityCheck">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="domains" minOccurs="0" nillable="true" type="tns:ArrayOfString"/>
            <xsd:element minOccurs="0" name="tlds" nillable="true" type="tns:ArrayOfString"/>
            <xsd:element name="quality" minOccurs="0" type="tns:QualityType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="QualityType">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Fast" />
          <xsd:enumeration value="Smart" />
          <xsd:enumeration value="SmartLive" />
          <xsd:enumeration value="Live" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="QualityType" nillable="true" type="tns:QualityType"/>
      <xsd:element name="AvailabilityCheckResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AvailabilityCheckResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="results" minOccurs="0" nillable="true" type="tns:ArrayOfAvailabilityCheckResult"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfAvailabilityCheckResult">
        <xsd:sequence>
          <xsd:element name="AvailabilityCheckResult" minOccurs="0" nillable="true" type="tns:AvailabilityCheckResult" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfAvailabilityCheckResult" nillable="true" type="tns:ArrayOfAvailabilityCheckResult"/>
      <xsd:complexType name="AvailabilityCheckResult">
        <xsd:sequence>
          <xsd:element name="DomainName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Quality" minOccurs="0" type="tns:QualityType"/>
          <xsd:element name="StatusCode" minOccurs="0" type="xsd:int"/>
          <xsd:element name="StatusMessage" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AvailabilityCheckResult" nillable="true" type="tns:AvailabilityCheckResult"/>
      <xsd:element name="GetRegistrant">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="registrantHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRegistrantResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetRegistrantResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="registrant" minOccurs="0" nillable="true" type="tns:Registrant"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateRegistrant">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="registrant" minOccurs="0" nillable="true" type="tns:Registrant"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateRegistrantResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateRegistrantResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="registrant" minOccurs="0" nillable="true" type="tns:Registrant"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteRegistrant">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="registrantHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteRegistrantResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeleteRegistrantResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchRegistrant">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="criteria" minOccurs="0" nillable="true" type="tns:SearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchRegistrantResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchRegistrantResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="registrants" minOccurs="0" nillable="true" type="tns:ArrayOfRegistrant"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfRegistrant">
        <xsd:sequence>
          <xsd:element name="Registrant" minOccurs="0" nillable="true" type="tns:Registrant" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfRegistrant" nillable="true" type="tns:ArrayOfRegistrant"/>
      <xsd:element name="GetContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="contactHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRegistrantVerificationInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRegistrantVerificationInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="GetRegistrantVerificationInfoResult" nillable="true" type="tns:Response"/>
            <xsd:element minOccurs="0" name="verificationInfo" nillable="true" type="tns:RegistrantVerificationInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RegistrantVerificationInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="VerificationStatus" type="tns:RegistrantVerificationStatus"/>
          <xsd:element minOccurs="0" name="VerificationDetails" nillable="true" type="tns:RegistrantVerificationDetails"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RegistrantVerificationInfo" nillable="true" type="tns:RegistrantVerificationInfo"/>
      <xsd:simpleType name="RegistrantVerificationStatus">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Unverified"/>
          <xsd:enumeration value="Pending"/>
          <xsd:enumeration value="Verified"/>
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RegistrantVerificationStatus" nillable="true" type="tns:RegistrantVerificationStatus"/>
      <xsd:complexType name="RegistrantVerificationDetails">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="VerifiedBy" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="VerificationDate" nillable="true" type="xsd:dateTime"/>
          <xsd:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfMessage"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RegistrantVerificationDetails" nillable="true" type="tns:RegistrantVerificationDetails"/>
      <xsd:element name="DoRegistrantVerification">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DoRegistrantVerificationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="DoRegistrantVerificationResult" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRegistrantVerificationStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRegistrantVerificationStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="GetRegistrantVerificationStatusResult" nillable="true" type="tns:Response"/>
            <xsd:element minOccurs="0" name="verificationStatus" type="tns:RegistrantVerificationStatus"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadRegistrantVerificationMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="value" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="details" nillable="true" type="tns:RegistrantVerificationDetails"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UploadRegistrantVerificationMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="UploadRegistrantVerificationMessageResult" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetContactResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="contact" minOccurs="0" nillable="true" type="tns:Contact"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="contact" minOccurs="0" nillable="true" type="tns:Contact"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateContactResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="contact" minOccurs="0" nillable="true" type="tns:Contact"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="contact" minOccurs="0" nillable="true" type="tns:Contact"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateContactResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="contactHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeleteContactResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchContact">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="criteria" minOccurs="0" nillable="true" type="tns:SearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchContactResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchContactResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="contacts" minOccurs="0" nillable="true" type="tns:ArrayOfContact"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfContact">
        <xsd:sequence>
          <xsd:element name="Contact" minOccurs="0" nillable="true" type="tns:Contact" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact"/>
      <xsd:element name="GetNameServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="nameServerHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetNameServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetNameServerResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="nameServer" minOccurs="0" nillable="true" type="tns:NameServer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateNameServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="nameServer" minOccurs="0" nillable="true" type="tns:NameServer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateNameServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateNameServerResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="nameServer" minOccurs="0" nillable="true" type="tns:NameServer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteNameServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="nameServerHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteNameServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DeleteNameServerResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchNameServer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="criteria" minOccurs="0" nillable="true" type="tns:SearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchNameServerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchNameServerResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="nameServers" minOccurs="0" nillable="true" type="tns:ArrayOfNameServer"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfNameServer">
        <xsd:sequence>
          <xsd:element name="NameServer" minOccurs="0" nillable="true" type="tns:NameServer" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfNameServer" nillable="true" type="tns:ArrayOfNameServer"/>
      <xsd:element name="PollMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="msgType" minOccurs="0" type="tns:MessageType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PollMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PollMessageResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="msgCount" minOccurs="0" type="xsd:int"/>
            <xsd:element name="item" minOccurs="0" nillable="true" type="tns:QueueItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="QueueItem">
        <xsd:sequence>
          <xsd:element name="Attachments" minOccurs="0" nillable="true" type="tns:ArrayOfAttachment"/>
          <xsd:element name="DomainHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="DomainName" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Msg" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="MsgId" minOccurs="0" type="xsd:int"/>
          <xsd:element name="MsgType" minOccurs="0" type="tns:MessageType"/>
          <xsd:element name="OrderId" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="OrderStatus" minOccurs="0" type="tns:OrderStatusType"/>
          <xsd:element name="StatusList" minOccurs="0" nillable="true" type="tns:ArrayOfCallbackStatus"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="QueueItem" nillable="true" type="tns:QueueItem"/>
      <xsd:complexType name="ArrayOfCallbackStatus">
        <xsd:sequence>
          <xsd:element name="CallbackStatus" minOccurs="0" nillable="true" type="tns:CallbackStatus" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfCallbackStatus" nillable="true" type="tns:ArrayOfCallbackStatus"/>
      <xsd:complexType name="CallbackStatus">
        <xsd:sequence>
          <xsd:element name="Message" minOccurs="0" nillable="true" type="xsd:string"/>
          <xsd:element name="Status" minOccurs="0" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CallbackStatus" nillable="true" type="tns:CallbackStatus"/>
      <xsd:element name="AckMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="msgId" minOccurs="0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AckMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AckMessageResult" minOccurs="0" nillable="true" type="tns:Response"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMessageQueue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="msgId" minOccurs="0" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMessageQueueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetMessageQueueResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="item" minOccurs="0" nillable="true" type="tns:QueueItem"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDnsSecKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="dnsSecKeyHandle" minOccurs="0" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetDnsSecKeyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="GetDnsSecKeyResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="dnsSecKey" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateDnsSecKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="dnsSecKey" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateDnsSecKeyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateDnsSecKeyResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="dnsSecKey" minOccurs="0" nillable="true" type="tns:DnsSecKey"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchDnsSecKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sessionId" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="criteria" minOccurs="0" nillable="true" type="tns:SearchCriteria"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SearchDnsSecKeyResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SearchDnsSecKeyResult" minOccurs="0" nillable="true" type="tns:Response"/>
            <xsd:element name="dnsSecKeys" minOccurs="0" nillable="true" type="tns:ArrayOfDnsSecKey"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOfDnsSecKey">
        <xsd:sequence>
          <xsd:element name="DnsSecKey" minOccurs="0" nillable="true" type="tns:DnsSecKey" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ArrayOfDnsSecKey" nillable="true" type="tns:ArrayOfDnsSecKey"/>
      <xsd:element name="CreateDocumentation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="sessionId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="attachments" nillable="true" type="tns:ArrayOfAttachment"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateDocumentationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="CreateDocumentationResult" nillable="true" type="tns:Response"/>
            <xsd:element minOccurs="0" name="documentationId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="IAscioServices_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_LogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOutResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrder"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_ValidateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateOrder"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_ValidateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentation"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadDocumentationResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateSupportOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportOrder"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateSupportOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupportOrderResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadMessage"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDomain"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDomain"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDomainResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_Whois_InputMessage">
    <wsdl:part name="parameters" element="tns:Whois"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_Whois_OutputMessage">
    <wsdl:part name="parameters" element="tns:WhoisResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_AvailabilityCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityCheck"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_AvailabilityCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityCheckResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrant"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrantResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateRegistrant_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRegistrant"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateRegistrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRegistrantResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteRegistrant_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistrant"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteRegistrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRegistrantResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchRegistrant_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRegistrant"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchRegistrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRegistrantResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrantVerificationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrantVerificationInfo"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrantVerificationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrantVerificationInfoResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DoRegistrantVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:DoRegistrantVerification"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DoRegistrantVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoRegistrantVerificationResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrantVerificationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrantVerificationStatus"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetRegistrantVerificationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrantVerificationStatusResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadRegistrantVerificationMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadRegistrantVerificationMessage"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UploadRegistrantVerificationMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadRegistrantVerificationMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContact"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteContact_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContact"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchContact_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchContact"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchContactResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetNameServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNameServer"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetNameServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNameServerResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateNameServer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNameServer"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateNameServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNameServerResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteNameServer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNameServer"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_DeleteNameServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNameServerResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchNameServer_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchNameServer"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchNameServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchNameServerResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_PollMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PollMessage"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_PollMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PollMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_AckMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AckMessage"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_AckMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AckMessageResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetMessageQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageQueue"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetMessageQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageQueueResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetDnsSecKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDnsSecKey"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_GetDnsSecKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDnsSecKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateDnsSecKey_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDnsSecKey"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateDnsSecKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDnsSecKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchDnsSecKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDnsSecKey"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_SearchDnsSecKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDnsSecKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateDocumentation_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentation"/>
  </wsdl:message>
  <wsdl:message name="IAscioServices_CreateDocumentation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDocumentationResponse"/>
  </wsdl:message>  

  <wsdl:portType name="IAscioServices">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/ISessionService/LogIn" message="tns:IAscioServices_LogIn_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/ISessionService/LogInResponse" message="tns:IAscioServices_LogIn_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/ISessionService/LogOut" message="tns:IAscioServices_LogOut_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/ISessionService/LogOutResponse" message="tns:IAscioServices_LogOut_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/GetOrder" message="tns:IAscioServices_GetOrder_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/GetOrderResponse" message="tns:IAscioServices_GetOrder_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateOrder">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateOrder" message="tns:IAscioServices_CreateOrder_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateOrderResponse" message="tns:IAscioServices_CreateOrder_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchOrder">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/SearchOrder" message="tns:IAscioServices_SearchOrder_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/SearchOrderResponse" message="tns:IAscioServices_SearchOrder_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/GetMessages" message="tns:IAscioServices_GetMessages_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/GetMessagesResponse" message="tns:IAscioServices_GetMessages_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateOrder">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/ValidateOrder" message="tns:IAscioServices_ValidateOrder_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/ValidateOrderResponse" message="tns:IAscioServices_ValidateOrder_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UploadDocumentation">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/UploadDocumentation" message="tns:IAscioServices_UploadDocumentation_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/UploadDocumentationResponse" message="tns:IAscioServices_UploadDocumentation_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateSupportOrder">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateSupportOrder" message="tns:IAscioServices_CreateSupportOrder_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateSupportOrderResponse" message="tns:IAscioServices_CreateSupportOrder_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UploadMessage">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/UploadMessage" message="tns:IAscioServices_UploadMessage_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/UploadMessageResponse" message="tns:IAscioServices_UploadMessage_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDomainService/GetDomain" message="tns:IAscioServices_GetDomain_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDomainService/GetDomainResponse" message="tns:IAscioServices_GetDomain_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchDomain">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDomainService/SearchDomain" message="tns:IAscioServices_SearchDomain_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDomainService/SearchDomainResponse" message="tns:IAscioServices_SearchDomain_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Whois">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDomainService/Whois" message="tns:IAscioServices_Whois_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDomainService/WhoisResponse" message="tns:IAscioServices_Whois_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AvailabilityCheck">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDomainService/AvailabilityCheck" message="tns:IAscioServices_AvailabilityCheck_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDomainService/AvailabilityCheckResponse" message="tns:IAscioServices_AvailabilityCheck_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrant">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrant" message="tns:IAscioServices_GetRegistrant_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantResponse" message="tns:IAscioServices_GetRegistrant_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateRegistrant">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/CreateRegistrant" message="tns:IAscioServices_CreateRegistrant_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/CreateRegistrantResponse" message="tns:IAscioServices_CreateRegistrant_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteRegistrant">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/DeleteRegistrant" message="tns:IAscioServices_DeleteRegistrant_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/DeleteRegistrantResponse" message="tns:IAscioServices_DeleteRegistrant_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchRegistrant">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/SearchRegistrant" message="tns:IAscioServices_SearchRegistrant_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/SearchRegistrantResponse" message="tns:IAscioServices_SearchRegistrant_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrantVerificationInfo">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationInfo" message="tns:IAscioServices_GetRegistrantVerificationInfo_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationInfoResponse" message="tns:IAscioServices_GetRegistrantVerificationInfo_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DoRegistrantVerification">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/DoRegistrantVerification" message="tns:IAscioServices_DoRegistrantVerification_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/DoRegistrantVerificationResponse" message="tns:IAscioServices_DoRegistrantVerification_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrantVerificationStatus">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationStatus" message="tns:IAscioServices_GetRegistrantVerificationStatus_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/GetRegistrantVerificationStatusResponse" message="tns:IAscioServices_GetRegistrantVerificationStatus_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UploadRegistrantVerificationMessage">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/UploadRegistrantVerificationMessage" message="tns:IAscioServices_UploadRegistrantVerificationMessage_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IRegistrantService/UploadRegistrantVerificationMessageResponse" message="tns:IAscioServices_UploadRegistrantVerificationMessage_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IContactService/GetContact" message="tns:IAscioServices_GetContact_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IContactService/GetContactResponse" message="tns:IAscioServices_GetContact_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IContactService/CreateContact" message="tns:IAscioServices_CreateContact_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IContactService/CreateContactResponse" message="tns:IAscioServices_CreateContact_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IContactService/UpdateContact" message="tns:IAscioServices_UpdateContact_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IContactService/UpdateContactResponse" message="tns:IAscioServices_UpdateContact_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IContactService/DeleteContact" message="tns:IAscioServices_DeleteContact_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IContactService/DeleteContactResponse" message="tns:IAscioServices_DeleteContact_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchContact">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IContactService/SearchContact" message="tns:IAscioServices_SearchContact_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IContactService/SearchContactResponse" message="tns:IAscioServices_SearchContact_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetNameServer">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/INameServerService/GetNameServer" message="tns:IAscioServices_GetNameServer_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/INameServerService/GetNameServerResponse" message="tns:IAscioServices_GetNameServer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateNameServer">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/INameServerService/CreateNameServer" message="tns:IAscioServices_CreateNameServer_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/INameServerService/CreateNameServerResponse" message="tns:IAscioServices_CreateNameServer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteNameServer">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/INameServerService/DeleteNameServer" message="tns:IAscioServices_DeleteNameServer_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/INameServerService/DeleteNameServerResponse" message="tns:IAscioServices_DeleteNameServer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchNameServer">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/INameServerService/SearchNameServer" message="tns:IAscioServices_SearchNameServer_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/INameServerService/SearchNameServerResponse" message="tns:IAscioServices_SearchNameServer_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PollMessage">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/PollMessage" message="tns:IAscioServices_PollMessage_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/PollMessageResponse" message="tns:IAscioServices_PollMessage_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AckMessage">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/AckMessage" message="tns:IAscioServices_AckMessage_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/AckMessageResponse" message="tns:IAscioServices_AckMessage_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetMessageQueue">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/GetMessageQueue" message="tns:IAscioServices_GetMessageQueue_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IMessageQueueService/GetMessageQueueResponse" message="tns:IAscioServices_GetMessageQueue_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetDnsSecKey">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/GetDnsSecKey" message="tns:IAscioServices_GetDnsSecKey_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/GetDnsSecKeyResponse" message="tns:IAscioServices_GetDnsSecKey_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateDnsSecKey">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/CreateDnsSecKey" message="tns:IAscioServices_CreateDnsSecKey_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/CreateDnsSecKeyResponse" message="tns:IAscioServices_CreateDnsSecKey_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SearchDnsSecKey">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/SearchDnsSecKey" message="tns:IAscioServices_SearchDnsSecKey_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IDnsSecKeyService/SearchDnsSecKeyResponse" message="tns:IAscioServices_SearchDnsSecKey_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentation">
      <wsdl:input wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateDocumentation" message="tns:IAscioServices_CreateDocumentation_InputMessage"/>
      <wsdl:output wsaw:Action="http://www.ascio.com/2007/01/IOrderService/CreateDocumentationResponse" message="tns:IAscioServices_CreateDocumentation_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>